/* @import './image/Login-img.png'; */
/* @media (max-width: 576px) {
  .form
} */
.text-left{
    text-align: left !important;
    margin-left: 6%;
    width: 95%;
    margin-bottom: 5px;
 
}

.text-left-form{
  text-align: left !important;
  margin-left: 6%;
  width: 65%;
  margin-bottom: 8px;

}


.fileds-size{
    width: 80%;
}

.Auth-form-login{
  margin-left: 30px;
  margin-top: 12%;
    width: 350px;
    height: 200px;
   left: 0;
   top: 0;
}
.Auth-form-siginup{
  margin-left: -150px;
    margin-top: 33px;
     width: 513px
    
}

.container1{
position: absolute;
width: 390px;
height: 280px;
left: 797px;
top: 114px;
   
}
.forget_pass{
   margin-left: 25%;

}
.checkbox{
    margin-right: 55%;
    margin-top: 7%;
}

.checkbox-signup{
  margin-left: -30px;
  /* margin-top: 3%; */
}



.checkbox2{
    margin-right: 44%;
    margin-top: 3%;
}


.checkbox3{
  margin-right: 52%;
  margin-top: 3%;
}


.rem{
    margin-left: 2%;
  
}

.text-center{
    margin-left: 4%;
}

.text-center_bottom{
    margin-left: -35%;
}
.under-text{
    margin-right: 10%;
    margin-top: 3px;
    font-size: 14px;
}
.text-center_Forget{
margin-left: 100px;
margin-top: 3px;
}

.submit-login{
 
color: white;    
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 38px;
background: #006401;
border-radius: 10px;
margin-left: 24px;
border:none;
border-radius:10px;
width: 80%;
   
}
.forget-email{
  color: white;    
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 38px;
background: #006401;
border-radius: 10px;
/* margin-left: 82px; */
border:none;
border-radius:10px;
width: 50%;
}
.login-button{
    color: white;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
    background: #006401;
    border-radius: 10px;
    margin-left: 0px;
    border:none;
    border-radius:10px;
    width: 80%;
    
}

.img_div{
    background: linear-gradient(225.48deg, #006401 15.62%, #000000 93.39%);
}

.image{
    float: left;
    
}.container2{
    margin-right: 30%;
}.checkbox{
    margin-left: 22px;
}.text{
    width: 50%;
}.fild-size{
    width: 80%;
   
}
/* .fild-size-forget{
width: 60%;
} */

.form-control-email{
    width: 60%;
}
.email{
    text-align: left !important;
    margin-left: 20%;
    margin-right: 30%;
    size: 20px;
    width: 78%;
    
}.top_margin{
    /* margin-top: 16%; */
}.reset{
    /* columns: #006401; */
     background-color: #006401;
     width: 370px;
     height: 38px;
     /* left: 997px; */
     /* top: 721px; */
     
     background: #006401;
     border-radius: 10px;
     margin-left: 20px;
    margin-left: 15%;
    border-color: #006401;
    border:none;
    border-radius:10px;
    color:white;
   
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
   .new-button{
    color: white;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
    background: #006401;
    border-radius: 10px;
    margin-left: 0px;
    border:none;
    border-radius:10px;
    width: 21.4%;
   }
.resetpass{
    margin-left:-190px;
    margin-bottom: 40px;
    font-size: 30px;
   
    /* margin-bottom: 20%; */
}

.newPass{
float: left;
/* height: 100%;
width: 50%; */
}
.colp{
margin-right: 30%;

}#grad1 {
    height: 680px;
   background-image: linear-gradient(#006401, #000000); 
 
   /* background-image: linear-gradient(225.48deg, #006401 15.62%, #000000 93.39%);
   float: left; */
  }
  #grad-forget {
    height: 100%;
   background-image: linear-gradient(#006401, #000000); 
 
   /* background-image: linear-gradient(225.48deg, #006401 15.62%, #000000 93.39%);
   float: left; */
  }
  #grad-login{
    position:fixed;
   width: 48%;
   height: 100%;
   
    margin-left: -12px;
    background-image: linear-gradient(#006401, #000000); 
  }
  .grad-reset{
    height: 100%;
    background-image: linear-gradient(#006401, #000000); 
   
  }
  .Auth-form-title{
    margin-right:80px;
    margin-bottom: 40px;
    
  }.Auth-form-title-Register{
    margin-right:75px;
    margin-left: 0px;
  }.gradient-container-top{
 
    margin-top: 120px;
    margin-left: 100px;
    width: 60%;

  }.Auth-form-title h4{
    margin-right: 300px;
  }
  
  .Auth-form-heading{
    margin-right: 160px;
     /* font-size: 40px;
    font-weight: bold; */ 
   }
   .input-group{
 
    width: 310px;
    margin-right: 10px;
    margin-top: 3px;
  }
  .form-group-pass{
 
    width: 322px;
    margin-right: 10px;
 
  }

  .form-control{
    width: 80%;
  }
  
  .form-control-forget-email{
    width: 60%;
    margin-top: 2px;
  }


  .form-control-rest{
    width: 21%;
  }

  
  .forget-email-lable{
    width: 58%;
  }

  .text-muted{
        --bs-text-opacity: 1;
        color: var(--bs-secondary-color)!important;
       height : 2px;
       color: blue;
  }
.h5{
  margin-right: 50%;
  margin-bottom: 9%;
}
  .text-muted-reset{
    /* --bs-text-opacity: 1;
    color: var(--bs-secondary-color)!important;
   height : 2px;
   color: blue; */
   font-size: 9.3px;
   color: #ABAFB1;
   margin-top: 0px;
}
.text-for-password{
margin-bottom: -12px;
}

.label{
  color:#32936F;
}
  .eye-button{
    /* color: white; */
    margin-right: 38px;
    border: white;
    /* border-right: white; */
  }
  
  
  .eye-button-button{
    /* color: white; */
    margin-right: 44px;
    border: white;
    height: 37px;
    size: 2px;

    /* border-right: white; */
  }
  
  .password-lable{
    
   
    text-align: left !important;
    margin-left: 6%;
    margin-top: 20px;
  }
  .background-image-login>img{
 margin-left: -12px;
 width: 127%;
  }
  .background-image>img {
    height: auto;
    width : 100%;
  }.email-lable{
    width: 78%;
    margin-bottom: 2px;
  }.background-image1>img{
    height: 100%;
    width: 100%;
   margin-left: -26px;
  }
  .form-content{
   
    margin-top: 150px;
    margin-left: 50%;
  }
.reset-login{
    color: white;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 38px;
    background: #006401;
    border-radius: 10px;
    margin-left: 0px;
    border:none;
    border-radius:10px;
    width: 48%;
}
.text-white>img{
  /* margin-bottom: 23em;
  margin-top: 15rem;
  vertical-align: middle; */
}
/* .img-fluid{
  max-width: 100%;
    height: auto
} */
.text-center{
text-align: center!important;
}
.background-image-img{
  position: fixed;
    background-image: url("./image/asset.png");
    height: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-left: 0px;
    width: 48%;
    margin-right: 0px;
    margin-left: -12px;
}
.small-logo>img{
width: 216px;
height: 140px;
vertical-align: middle;
margin-bottom: 14em;
margin-top: 6rem;
margin-right: 25px;
flex:none;
order: 0;
flex-grow: 0;
/* position: absolute; */
left: 314px;
top: 287px;
}
.term-condition{
  margin-left: 4px;
}

.term-condition-signup{
  margin-left: 4px;
}
.Auth-form-reset{
  width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: 6%;
    position: fixed;
}
.Auth-form-forget{
  width: 80%;
  height: 200px;
  margin-left: 59px;
  margin-top: 34%
}

.Auth-form-forget-page{
  width: 80%;
  height: 200px;
  margin-left: 59px;
  margin-top: 26%
}



.password-lable-signup{
    
   
  text-align: left !important;
  /* margin-left: 6%;
  margin-top: 20px; */
  width: 90%;
}

.form-lable{
    
   
  /* text-align: left !important; */
 /* margin-left: 6%; */
  margin-top: 3px; 
  width: 340px;
}
.form-lable-signup{
margin-bottom: 2px;
height: 0px;
}
/* .eye-button-confirm{
  padding-right: 25px;
margin-right: 30px;
  background-size: 20px;
  background-position: right center;
  background-repeat: no-repeat;
} */
.copyright-text{
  margin-top: 50% !important;
  margin-right: 40%;
  font-size: 12px;
}



.copyright-text-signup{
  /* margin-bottom: 100% !important; */
  margin-right: 43%;
  font-size: 12px;
  margin-top: 60px;
}



.copyright-text-reset{
  /* %;
  margin-left: 10%;
  font-size: 20px; */
}

.copyright-text-forget{
  margin-top: 13%;
  margin-left: 520px;
  font-size: 12px;
}
/* 
media querys */

/* .form-content-newpass{
  
  margin-top: 150px;
  margin-left: 50%;
} */

.reset-form{
  width: 26%;
  margin-top: 5px;
}

.eye-button-tag{
  margin-left: 236px !important;
  margin-top: -37px;
  
}
.reset-form-pass{
  width: 23.3%;
  margin-top: 5px;
}
/*  */

.copyright-text-email{
  margin-top: 594px;
  margin-left: 460px;
  font-size: 10px;
}


@media only screen and (min-width:1400px) and (max-width:1900px){
  .copyright-text {
    margin-top: 74% !important;
    margin-right: 40%;
    font-size: 14px;
  }
  }
 @media only screen and (max-width:1440px) {
#grad-login {
  height: 100%;
}
}

/* @media only screen and (max-width:1440px) {
  .background-image-img{
    position: fixed;
      background-image: url("./image/asset.png");
      height: 100%;
      background-repeat: no-repeat;
      background-position-y: center;
      margin-left: 0px;
      width: 48%;
      margin-right: 0px;
      margin-left: -12px;
  }
  } */

  /* @media only screen and (max-width:1440px) {
  .small-logo>img{
  margin-top: 14rem;
  margin-bottom: 21rem;
  }
  }
  
}  */


/* @media only screen and (max-width:1024px) {
  .small-logo>img{
  margin-top: 8rem;
  margin-bottom: 19rem;
  }
  } */
  @media only screen and (max-width:1024px) {
  .copyright-text {
  margin-top: 88% !important;
    margin-right: 21%;
}
  }


@media only screen and (max-width:1200px) {
  .input-group {
    width: 96.9% !important;
    margin-right: 10px;
}
}




@media only screen and (max-width: 919px) {
  .Auth-form-title {
  
    margin-right: 92px;
}
}


@media only screen and (max-width: 896px){
  .submit-login {
      width: 76% !important;
  }
  }

  @media screen and (min-width:469px) and (max-width:888px){
    .eye-button-tag {
      margin-left: 148px !important;
      margin-top: -36px;
    }
  }
  
  /* @media screen and (min-width:469px) and (max-width:888px){
    .Auth-form-heading-title {
    font-size: 17px;
    }
  } */

  @media screen and (min-width:469px) and (max-width:888px){
    .copyright-text-email {
      margin-left: 310px !important;
     
    }
  }


  @media only screen and (max-width:859px) {
  
  
    .copyright-text{
      margin-top: 86% !important;
      margin-right: 1% !important;
      font-size: 12px !important;
    }
  
  }

 

  @media only screen and (max-width:740px) {
  .text-center_Forget {
    margin-left: 67px;
    margin-top: 3px;
}
}

    @media (max-width: 768px) {
      .container-fluid {
        max-width: 100%; 
        padding: 0 15px; 
        
        
      }
    }

    @media only screen and (max-width:740px) {
      .reset-login {
        width: 246px !important;
        /* margin-right: 10px; */
    }
    }
    @media only screen and (max-width: 740px){
      .Auth-form-title {
      
        margin-right: 100px;
    }
    }
    @media screen and (min-width:360px) and (max-width:740px) {
      .input-group{
        width: 303px;
        margin-right: 10px;
    }
    }
    @media only screen and (max-width: 667px){
      .Auth-form-title-Register {
      
        margin-right: 90px;
    }
    }

    
  @media only screen and (min-width:625px){
    .Auth-form-heading {
      margin-right: 118px;
      font-size: 14px;
      font-weight: bold;
  }
    }


  
      

  @media only screen and (min-width: 625px){
    .copyright-text-reset {
      margin-top: 14%;
      margin-left: 390px;
      font-size: 7px;
  }
    }

    @media only screen and (max-width: 987px){
    .resetpass{
      margin-left: -140px;
      margin-bottom: 40px;
      font-size: 22px;
    }
      /* margin-bottom: 20%; */
  }
  @media only screen and (max-width: 987px){
  .copyright-text-forget {
    margin-top: 25%;
    margin-left: 434px;
    font-size: 12px;
}
  }

/* forget password media query */





@media only screen and (min-width: 625px){
  .email-lable {
      width: 86% !important;
  }
  }

 

/* forget password media query */

@media only screen and (min-width:625px) {
  .form-control-forget-email {
    width: 91% !important;
    /* margin-right: 10px; */
}
}

@media only screen and (min-width:625px) {
  .resetPass {
   
     margin-right: 22%; 
}
}

@media only screen and (min-width:625px) {
  .forget-email {
   
     width: 60%; 
}
}


/* @media only screen and (min-width:625px) {
  .eye-button-tag {
  margin-top: -37 !important;
    margin-left: 144px !important;
    
}
} */


/* @media only screen and (max-width:540px) {
  .forget-email {
    width: 72% !important;
    
}
} */




@media only screen and (max-width:425px){
  .form-control {
    width: 267px;
}
}

@media only screen and (max-width:425px) {
  .background-img-data{
 
      background-image: url("./image/asset.png");
     width: 30%;
     height: 30%;
  }
  }


  @media screen and (max-width: 450px) {
    .copyright-text {
      display: none;
    }
  }
  @media screen and (max-width: 425px) {
    .copyright-text-forget {
      display: none;
    }
  }


@media only screen and (max-width: 425px){
  .input-group {
      width: 303px !important;
  }
  }

 
  /* @media only screen and (max-width:425px) {
  
  
    .copyright-text{
      margin-top: 148% !important;
      margin-right: -8% !important;
    font-size: 12px;
    
    }
  
  } */
  @media only screen and (max-width: 425px){
    .Auth-form-forget {
      width: 76%;
      /* height: 200px; */
      margin-left: 60px;
      /* margin-top: 45%; */
      position: fixed;
      
    }
    }


    @media only screen and (max-width: 425px){
    .resetpass {
        margin-left: -77px;
        margin-bottom: 40px;
        font-size: 22px;
    }
  }

    @media only screen and (max-width: 500px){
      .forget-email {
        width: 88%;
       
      }
      }

  @media only screen and (max-width:425px) {
    .new-button{
      width: 68.6%;
    }
    
  }
  


  @media only screen and (max-width:468px) {
    .eye-button-tag {
      margin-left: 234px !important;
      margin-top: -36px;
    }
    }


  /* @media only screen and (max-width:393px) {
  
  
    .copyright-text{
        margin-top: 128% !important;
    margin-right: -17% !important;
    font-size: 12px;
    }
  
  }
   */
   @media only screen and (max-width:425px) {
   
.Auth-form-login {
    position: fixed;
      margin-left: 39px;
      margin-top: 28%;
      width: 350px;
      height: 200px;
      left: 0;
      top: 0;
  }
    }